$axesColor: rgb(0, 46, 173);
$barColor: rgb(91, 29, 235);
$transition: 0.5s;

.chartBox {
  width: 50%;
  height: 500px;
  margin: 2rem auto;
  border: 2px solid #888;
  font-family: 'Roboto', sans-serif;
}

.barBox {
  margin: 2rem 5rem;
  height: 200px;
  position: relative;
}

.allBars {
  position: relative;
  overflow: auto;
  height: 100%;
  transform: translateX(-45px);
}

::-webkit-scrollbar {
  display: none;
}

.singleBar {
  background: $barColor;
  position: relative;
  margin: 1rem 50px;

  &__value {
    top: 20%;
    position: absolute;
    right: -50px;
    margin: 0 0.4rem;
  }

  &__name {
    position: absolute;
    width: 50px;
    font-size: 0.7rem;
    transform: translate(-50px);
  }

  &:hover {
    background: lighten($barColor, 15%);
  }
}

.xAxesBox {
  margin: 1rem 0;
  width: calc(100% - 100px);
  position: absolute;
  left: 5px;
  bottom: -4rem;
}

.xAxes {
  background: $axesColor;
  height: 2px;
}

.yAxes {
  background: $axesColor;
  height: calc(100% + 1rem);
  width: 2px;
  top: 0;
  position: absolute;
  z-index: 5;
}

.ticksBox {
  display: flex;
  font-size: 0.8rem;
  justify-content: space-between;
  margin: 0.4rem 0;
  transform: translate();

  & > div:not(:first-child) {
    transform: translate(50%);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      background: $axesColor;
      width: 0.5px;
      height: 10px;
      left: 50%;
      bottom: 115%;
    }
  }
}
